<form action='/two'>
	<h1>Counter</h1>
	<h3><%= counter %> times.</h3>
	<input type='submit' value='Add Two'>
	<p>Refresh page to increment by one.</p>
</form>
<form action='/reset'>
	<input type='submit' value='Reset'>
</form>
